#app[data-opened] {
    display: block;
}

#app {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    overflow: auto;
    background: #FFFFFF;
    color: #000000;
}

#app a {
    text-decoration: none;
}

#app button {
    padding: 12px 24px;
    border: none;
    background-color: #F44336;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

#app button:hover {
    outline: none;
    background-color: #000000;
}

#app input {
    width: 200px;
    padding: 11px 7px;
    border: 1px solid #CCCCCC;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

#app input#number {
    width: 64px;
    padding: 11px 0;
    font-weight: bold;
    text-align: center;
}

#app .slepamapa {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: calc(100% - 35px);
    margin-top: 8px;
}

#app .inlinediv {
    display: inline-block;
    margin-right: 50px;
}

#app table {
    border-collapse: collapse;
}

#app table tr {
    border-bottom: #DDDDDD 1px solid;
}

#app table tr:last-of-type {
    border-bottom: none;
}

#app table th {
    padding: 32px 16px;
    background-color: #F44336;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: normal;
}

#app table td {
    padding: 8px 16px;
    background-color: #F1F1F1;
}
