#app[data-opened] {
    display: block;
}

#app {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    overflow: scroll;
    padding: 10px;
}